#root {
  max-width: 1350px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Pooldata */
.bounce {
  animation: bounceAnimation 0.5s infinite alternate;
}

@keyframes bounceAnimation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-60px);
  }
}


